---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-6xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100">
      Portfolio
    </h1>
  </main>
</BaseLayout>
