---
import '@/styles/global.css';
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Manuel Scholtes</title>
  </head>
  <body class="bg-bg-light text-text-light dark:bg-bg-dark dark:text-text-dark">
    <slot />
  </body>
</html>
